{% load static %}

<div class="nav-fixed">
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <div class="logocontainer">
            <a id="logo-container" href="{% url 'index' %}"  class="brand-logo">
              <img src="{% static 'img/logo1.jpeg' %}" class="logo" alt="">
            </a>
          </div>
          
          <ul class="right hide-on-med-and-down">
            <li
              {% if '/' == request.path %}
                class="active"
              {% else %}
                class=""
              {% endif %}
            ><a style="font-size: 1.3em;" href="{% url 'index' %}">Home</a></li>
            <li
              {% if 'services' in request.path %}
                class="active"
              {% else %}
                class=""
              {% endif %}
            ><a style="font-size: 1.3em;" href="{% url 'services' %}">Services</a></li>
            <!-- <li><a href="#">Contact</a></li> -->
            <li
              {% if 'gallery' in request.path %}
                class="active"
              {% else %}
                class=""
              {% endif %}
            ><a style="font-size:1.3em;" href="{% url 'gallery' %}">Gallery</a></li>
            <li
                {% if 'products' in request.path %}
                class="active"
                {% else %}
                class=""
                {% endif %}
            ><a style="font-size: 1.3em;" href="{% url 'products' %}">Products</a>
            </li>

            <li
                {% if 'create-booking' in request.path %}
                class="active"
                {% else %}
                class=""
                {% endif %}
            ><a class="btn waves-effect waves-light brown lighten-1" style="font-size: 0.9em;" href="{% url 'create-booking' %}">Book an Appointment</a>
            </li>
            {% if request.user.is_authenticated %}
            <li
                {% if 'login' in request.path %}
                class="active"
                {% else %}
                class=""
                {% endif %}
            ><a style="font-size: 1.3em;" href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
          </ul>
    
          <ul id="nav-mobile" class="sidenav brown lighten-3">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <!-- <li><a href="#">Contact</a></li> -->
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li><a href="{% url 'products' %}">Products</a></li>
            <li><a href="{% url 'create-booking' %}">Book an Appointment</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}


          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>