/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */




/* body{
  background-color:  #ffffff;
  color:  #442a08;
} */

.logo{
  height: 120px;
  width: 160px;
}

i.material-icons:not(.medium){
  font-size: 60px !important;
  color: #C4A484;
  padding: 40% 0;

}


nav {

  height: 120px;
   line-height: 120px;
}

nav ul li.active{
  text-decoration: underline;
  text-decoration-thickness: 3px;
  background-color: rgba(0,0,0,0);
}

nav ul li a:hover{
  text-decoration: underline;
  text-decoration-thickness: 3px;
  background-color: rgba(0,0,0,0);
}


nav ul a,
nav .brand-logo {
  color: #C4A484;
}


.headingText{
  color: #333333;
  text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
}





p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    /* top: 40%; */
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

}

@media only screen and (max-width : 480px) {
  #index-banner .section {
    top: 0;
  }

}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


