{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/lightbox.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  
  <title>Hairworx</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

</head>
<body>
<div class="nav-fixed">
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <div class="logocontainer">
            <a id="logo-container" href="{% url 'index' %}"  class="brand-logo">
              <img src="{% static 'img/logo1.jpeg' %}" class="logo" alt="">
            </a>
          </div>
          
          <ul class="right hide-on-med-and-down">
            <li
              {% if '/' == request.path %}
                class="active"
              {% else %}
                class=""
              {% endif %}
            ><a style="font-size: 1.3em;" href="{% url 'index' %}">Home</a></li>
            <li
              {% if 'services' in request.path %}
                class="active"
              {% else %}
                class=""
              {% endif %}
            ><a style="font-size: 1.3em;" href="{% url 'services' %}">Services</a></li>
            <!-- <li><a href="#">Contact</a></li> -->
            <li
              {% if 'gallery' in request.path %}
                class="active"
              {% else %}
                class=""
              {% endif %}
            ><a style="font-size:1.3em;" href="{% url 'gallery' %}">Gallery</a></li>
            <li
                {% if 'products' in request.path %}
                class="active"
                {% else %}
                class=""
                {% endif %}
            ><a style="font-size: 1.3em;" href="{% url 'products' %}">Products</a>
            </li>

            <li
                {% if 'create-booking' in request.path %}
                class="active"
                {% else %}
                class=""
                {% endif %}
            ><a class="btn waves-effect waves-light brown lighten-1" style="font-size: 0.9em;" href="{% url 'create-booking' %}">Book an Appointment</a>
            </li>
            {% if request.user.is_authenticated %}
            <li
                {% if 'login' in request.path %}
                class="active"
                {% else %}
                class=""
                {% endif %}
            ><a style="font-size: 1.3em;" href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
          </ul>
    
          <ul id="nav-mobile" class="sidenav brown lighten-3">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <!-- <li><a href="#">Contact</a></li> -->
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li><a href="{% url 'products' %}">Products</a></li>
            <li><a href="{% url 'create-booking' %}">Book an Appointment</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}


          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
</div>
    {% block content %}

    {% endblock %}


  <footer class="page-footer brown darken-4">
    <div class="footer-copyright">
      <div class="container">
        Hairworx Copyright &copy; MeztroInhinyeroElektronico | 2022
      </div>
    </div>
  </footer>


    <!--  Scripts-->
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
    <script type="text/javascript" src="{% static 'js/materialize.js' %} "></script>
    <script>
          const employeeSelect = document.getElementById('#stylist_name')
          $("#site").change(function () {
              const siteId = $(this).val();  // get the selected subject ID from the HTML dropdown list 
              $.ajax({                       // initialize an AJAX request
                  type: "POST",
                  url: '{% url "get_stylists_ajax" %}',
                  data: {
                      'site_id': siteId,       // add the country id to the POST parameters
                      'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                  },
                  success: function (data) {   // `data` is from `get_topics_ajax` view function
                      let html_data = '';
                      data.forEach(function (data) {
                        console.log(data)
                          html_data += `<option value="${data.name}">${data.name}</option>`
                          $("#stylistName").html(html_data); // replace the contents of the topic input with the data that came from the server

                     });

                  }
              });
            });

    </script>
    <script>
        $(document).ready(function () {
          M.AutoInit();

            //Booking 
        
         // INIT SELECT LIST         
        $('.modal').modal({
          complete: function(){alert('Your request is submitted')}
        });
        $('.carousel.carousel-slider').carousel({ 
            fullWidth: true,
            indicators: true,
            interval:6000,
            height: 100,
          });
        

        $('select').formSelect();

        $('.datepicker').datepicker({
              format: 'yyyy-mm-dd'
          }).val();

        $('.timepicker').timepicker({
            twelveHour: true,
            vibrate: true,

        }).val();

        setTimeout(function(){
            $('#message').fadeOut('slow');
        }, 3000);

        

      });
      

      
    </script>

   
    
    <script src="{% static 'js/main.js' %} "></script>
    <script src="{% static 'js/init.js' %}"></script>
    

</body>
</html>